*{
    color:red;
}
.parablue{
    color:blue;
}
#parared{
    color: red;
}
.blue
{
    color:blue;
}
p.vert
{
    color:green;
}
.vt{
    color: green;
}
.bord{
    border: 1px solid green;
}
a{
    color: red;text-decoration: none;
}
a:hover{
    color:green;text-decoration: underline;
}
a:visited
{
    color:grey;
}
#tr{
    color:black;
    opacity: 0.5;
    background-color: rgba(34, 231, 231, 0.5)
}
#bt{
    padding: 20px;
}

ul{
    list-style-image: url("");
}